body {
    margin: auto;
    padding: 0;
    margin: 0;
    margin-inline: auto;
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    height: 200px;

    /* background-color: lightgray; */
}

.header-limited-width {
    max-width: 70%;
    margin: 0 auto;
}

/* .paws {

} */

.logo-img {
    flex: block;
    width: 200px;

    justify-content: flex-start;
}

.nav-menu {
    flex-grow: 1;
    font-weight: bold;
    font-family: Inter;
}

.nav-menu a {
    margin-left: 30px;
    color: black;
    font-size: 28px;
}

#sign-in {
    color: black;
}

a {
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: #A4CE4A;
}

#catalog {
    color: #278020;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-family: Inter;

    /* background-color: lightcoral; */
}

#input-search {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 16px;

    padding-left: 20px;
}

#loupe-img {
    display: flex;
    width: 50px;
}

.sign-in-container {
    display: flex;
    justify-content: flex-end;
    width: 130px;
    font-weight: bold;
    font-size: 28px;
    font-family: Inter;

    /* background-color: lightblue; */
}

.max-dog {
    margin-top: 100px;
}

.max-dog-limit-length {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#max-dog-img {
    display: block;
    width: 550px;

    margin-right: 50px;
}

#max-dog-title {
    font-size: 34px;
    font-weight: bold;

    margin: 0;
}

#max-dog-description {
    font-size: 24px;
    color: #595959;
    line-height: 35px;

    margin-bottom: 70px;
}

#max-dog-button {
    width: 100%;
    height: 60px;

    background-color: #A4CE4A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 90%;
    cursor: pointer;
    border-radius: 25px;
    border: none;

    text-decoration: none;
    transition: background-color 0.5s;
}

#max-dog-button:hover {
    background-color: rgb(68, 147, 46);
}

.footer {
    width: 100%;
    /* width: 100vw; */
    margin-top: 150px;
    background-color: #A4CE4A;
    opacity: 90%;
    margin-left: 0;
}

.footer-limited-width {
    width: 70%;
    margin: 0 auto;
}

#footer-logo {
    flex: block;
    width: 130px;
    border-radius: 10px;
}

.about-shelter-text {
    width: 550px;
    font-size: 20px;
    line-height: 30px;
    color: #363636;
    font-style: IstokWeb;
    
    margin-top: 0;
    margin-bottom: 50px;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
}

.footer-middle-part {
    display: flex;
    flex-direction: row;

}

#email-icon {
    flex: block;
    width: 30px;

    margin-right: 20px;
    margin-bottom: 20px;
}

#phone-icon {
    flex: block;
    width: 30px;

    margin-right: 20px;
    margin-bottom: 50px;
}

#copyright-icon {
    flex: block;
    width: 30px;
}

#navigation-title {
    font-size: 24px;
}

.footer-navigation a {
    color: black;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.5s;
}

.footer-navigation a:hover {
    color: #ffffff;
}

.footer-button {
    display: flex;
    justify-content: flex-end;
}

#footer-join-now {
    font-family: Inter;
    background-color: #7F9D40;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    height: 60px;
    border-radius: 25px;
    border: none;

    cursor: pointer;
    transition: background-color 1s;
}

#footer-join-now:hover {
    background-color: rgb(47, 100, 32);
}

.footer-navigation {
    margin-left: 100px;
    margin-right: 100px;
}

.footer-bottom-part {
    font-size: 22px;
    display: flex;
}

.copyright-section {
    display: flex;
    align-items: end;
    
    align-items: center;
    justify-content: end;

    margin-left: 600px;
}

.email-section {
    display: flex;
    justify-content: center;
}

.phone-section {
    display: flex;
    /* justify-content: center; */
}