body {
    margin: auto;
    padding: 0;
    margin-inline: auto;
    overflow-x: hidden;
    width: 70%;

    height: 3000px;
}

.header {
    display: flex;
    align-items: center;
    height: 200px;

    /* background-color: lightgray; */
}

.logo-img {
    flex: block;
    width: 200px;

    justify-content: flex-start;
}

.nav-menu {
    flex-grow: 1;
    font-weight: bold;
    font-family: Inter;
}

.nav-menu a {
    margin-left: 30px;
    color: black;
    font-size: 28px;
}

a {
    text-decoration: none;
}

#home {
    color: #A4CE4A;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-family: Inter;

    /* background-color: lightcoral; */
}

#input-search {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 16px;

    padding-left: 20px;
}

#loupe-img {
    display: flex;
    width: 50px;
}

.sign-in-container {
    display: flex;
    justify-content: flex-end;
    width: 130px;
    font-weight: bold;
    font-size: 28px;
    font-family: Inter;

    /* background-color: lightblue; */
}

#sign-in {
    color: black;
}

.first-block {
    height: 440px;
    width: 70%;
}

.welcome-container {

}

#welcome-img {
    flex: block;
    width: 1176px;
    border-radius: 20px;

    margin-top: 50px;
}

#welcome-title {
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;

    margin-top: 40px;
    margin-bottom: 20px;
}

#welcome-text {
    font-family: Inter;
    font-size: 24px;
    line-height: 50px;
    color: #595959;

    width: 1000px;
}